.hero.is-primary {
  background: linear-gradient(to top right, #0000ff, #00FFDB);
  }

  /* .box span.icon {
    float: right;
    font-size: 1.7em;
    padding: 2rem 2rem 0 0;
  } */
  .icon.is-large {
    width: 7em;
    height: 7em; 
  }
  
  .level2 {
    background-color: lightgray
  }
  
  